<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223442951406-403p5ldret59ailq58dtph2fq5lp9ofm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223442951406-403p5ldret59ailq58dtph2fq5lp9ofm</string>
	<key>API_KEY</key>
	<string>AIzaSyD15cVA8y0q-3lWHNyifr-ryA9i65QZLpA</string>
	<key>GCM_SENDER_ID</key>
	<string>223442951406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.dev.KevinRibeiro.nano4</string>
	<key>PROJECT_ID</key>
	<string>haveasnake</string>
	<key>STORAGE_BUCKET</key>
	<string>haveasnake.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:223442951406:ios:aa860d00fd2fb5deb5e7ff</string>
	<key>DATABASE_URL</key>
	<string>https://haveasnake.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-6710438178084678~4598390569</string>
</dict>
</plist>
